body {
  background-color: #fa9191;
  color: #007892;
}
.container{
  width: 50%;
  margin: 0 auto;

}
a {
  text-decoration: none;
}

h1 {
  color: #cbe2b0;
  font-family: 'Roboto';
}
.sobre-mim{
  color: #f5b971;
  text-align: center;
}

.avatar{
  border-radius: 50%;
  width: 190px;
}
.redes-sociais{
  text-align: center;
  background-color:
}
.card{
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 20px grey;
}
.btn{
  color: #6983aa;
  padding: 7px 20px;
  background-color: #b9ebcc;
}
